.StartPageButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Стили для кнопок */
.StartPageButtons Button {
  margin-bottom: 8px; /* Небольшой отступ между первыми двумя кнопками */
  width: 200px;
}

/* Дополнительные стили для выравнивания по центру */
.StartPageButtons {
  text-align: center;
}
